
.env


ansible/ansible_logfile.log
ansible/ansible.cfg
ansible/inventory_raw.yml
ansible/inventory.yml
ansible/forked_ansible/
ansible/from_mac/

books/
devnet_creds.txt
editor_settings/

nornir/config.yaml
nornir/forked_nornir/
nornir/greptool
nornir/groups.yaml
nornir/hosts.yaml
nornir/nornir_script1.py
nornir/nornir_script2.py
nornir/nornir.log

notes_all/

python/forked_python/

venv/
venv_nornir/

*.DS_Store/