
.env


ansible/ansible_logfile.log
ansible/ansible.cfg
ansible/inventory_raw.yml
ansible/inventory.yml
ansible/forked_ansible/
ansible/vault_password.yml

books/
curl/
devnet_creds.txt
editor_settings/
gns3_settings/

netconf_yang/94-module-3-netconf.pdf
netconf_yang/rpc_examples/
netconf_yang/yang/
netconf_yang/yang_notes.log

nornir/config.yaml
nornir/forked_nornir/
nornir/greptool
nornir/groups.yaml
nornir/hosts.yaml
nornir/nornir.log
nornir/myscripts_nornir/nornir.log

notes_all/

python/forked_python/

venv/
venv_fortios/
venv_nornir/
venv_test/

*.DS_Store/
.vscode/
