
!
snmp-server community {{snmp_string_1}} RO {{acl_1}}
snmp-server community {{snmp_string_2}} RO {{acl_2}}
snmp-server community {{snmp_string_3}} RO {{acl_3}}
snmp-server community {{snmp_string_4}} RO {{acl_4}}
!