!
ip access-list standard ALPHA_SNMP
 permit {{ast_subnet1}} {{ast_mask1}}
 permit {{ast_subnet2}} {{ast_mask2}}
!
snmp-server community {{comm_string}} RO ALPHA_SNMP
snmp-server community {{comm_string}} RW ALPHA_SNMP
snmp-server trap-source {{trap_source}}
!
snmp-server host {{server_host}} version 2c {{comm_string}}
snmp ifmib ifindex persist
snmp-server enable traps
!
logging snmp-trap emergencies
logging snmp-trap alerts
logging snmp-trap critical
logging snmp-trap errors
logging snmp-trap warnings
logging snmp-trap notifications
!